<div id="container-register" class="flex flex-column align-items-center justify-content-center h-full" style="background-image: url(assets/background.jpg)">
 
    <form class="flex flex-column align-items-center justify-content-center gap-4 mt-2 surface-100 p-3 border-round shadow-1" [ngStyle]="{maxWidth: '600px'}">
        <h2 class="text-center m-0">Crear usuario</h2>
        <div class="flex flex-column sm:flex-row gap-2">
            <div class="flex flex-column gap-2">
                <span class="p-float-label">
                    <input pInputText id="Name" type="text" />
                    <label htmlFor="Name">Nombre</label>
                </span>
            </div>
    
            <div class="flex gap-2">
                <span class="p-float-label">
                    <input pInputText id="Email" type="text" />
                    <label htmlFor="Email">Email</label>
                </span>
            </div>
        </div>
      
        <div class="flex flex-column sm:flex-row gap-2">
            <div class="flex flex-column gap-2">
                <span class="p-float-label">
                    <input pInputText id="Password" type="password" />
                    <label htmlFor="Password">Contraseña</label>
                </span>
            </div>
    
            <div class="flex flex-column gap-2">
                <span class="p-float-label">
                    <input pInputText id="RPassword" type="password"/>
                    <label htmlFor="RPassword">Repetir Contraseña</label>
                </span>
            </div>
        </div>
        

        <button pButton label="Registrarse" class="w-full mb-0"></button>
        <p class="m-0">        
            ¿Ya tenés cuenta? <a [routerLink]="['/login']">Ingresar</a>
        </p>


     
    </form>
</div>
